@using System.Security.Cryptography
@using System.Text
@{
    Layout = "TwoParter";
}
@model DirectMessagePageModel

@section Left {
    <div hidden id="user-id">
        @Model.Companion.Id
    </div>
    <div class="search-bar">
        <form method="get" asp-action="SearchMsgs">
            <input class="search-btn" type="submit" />
            <input class="search-input" type="text" />
        </form>
    </div>
    <div class="main-space">
        <div style="{overflow-y: scroll}" class="msg-scroller main-space" id="msg-list">
            @{
                var rsaSelf = RSA.Create();
                rsaSelf.ImportEncryptedPkcs8PrivateKey(GlobalVals.ReadPassKey(Model.Current.Id), 
                    Model.Current.EncryptedPrivateKey, out var x1);
                //rsaSelf.ImportRSAPublicKey(Model.Current.PublicKey, out var _);
                var rsaOther = RSA.Create();
                rsaOther.ImportEncryptedPkcs8PrivateKey(GlobalVals.ReadPassKey(Model.Companion.Id),
                    Model.Companion.EncryptedPrivateKey, out var x2);
                //rsaOther.ImportRSAPublicKey(Model.Companion.PublicKey, out var _);
                RSA pointer;
                //string cl;
                foreach (var msg in Model.Messages)
                {
                    <br />
                    pointer = msg.Sender.Id == @Model.Current.Id ? rsaSelf : rsaOther;
                   // cl = msg.Sender.Id == @Model.Current.Id ? "msg-self" : "msg";

                        <div class="msg">
                            <div>
                                @Encoding.Unicode.GetString(pointer.Decrypt(msg.Text, RSAEncryptionPadding.OaepSHA256))
                            </div>
                            <div class="msg-datetime">
                                @msg.SentAt.ToShortTimeString()
                            </div>
                        </div>
                    
                    Console.WriteLine(msg.Text);
                }
            }
        </div>
        <div id="msg-input-space">
            <textarea id="msg-input" asp-for="MessageText"></textarea>
            <button onclick="send()" class="generic-btn">Отправить</button>
            <button class="generic-btn" asp-action="Include">Вложение</button>
        </div>
    </div>
}

@section Right {
    <button class="transparent-btn">...</button>
    <p>Placeholder</p>
    <p>@(Model.Companion.Status ?? "")</p>
    <p>TODO</p>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js"></script>
    <script src="~/js/msglist.js" asp-append-version="true"></script>
}
